<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <services>
      <!-- Register controllers so they can participate in dependency injection -->
      <register
        serviceType="SkillsAssessment.Feature.PageList.Controllers.PageListComponentController, SkillsAssessment.Feature.PageList"
        implementationType="SkillsAssessment.Feature.PageList.Controllers.PageListComponentController, SkillsAssessment.Feature.PageList" />

      <register
        serviceType="SkillsAssessment.Feature.PageList.Repository.ITeaserRepository, SkillsAssessment.Feature.PageList"
        implementationType="SkillsAssessment.Feature.PageList.Repository.TeaserRepository, SkillsAssessment.Feature.PageList" />

    </services>
  </sitecore>
</configuration>