@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skill Assessment</title>
</head>
<body>
    @Html.Sitecore().Placeholder("main")
</body>
</html>
