@model RenderingModel

@{ 
    Guid tempGuid = Guid.NewGuid();
    String collapseId = tempGuid.ToString();
    String cssClass = "collapse container-fluid";
    bool isExperienceEditor = Sitecore.Context.PageMode.IsExperienceEditor;
    if (isExperienceEditor)
    {
        cssClass = "col-12";
    }

    String backgroundClass = "";
    Sitecore.Data.Fields.CheckboxField checkbox = Model.Item.Fields["Gradient Background"];
    if (checkbox.Checked)
    {
        backgroundClass = "bg-stripe";
    }
} 


<section class="component cmp-related-resources @@backgroundClass"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-12 text-center"><h2 class="hdr">@Html.Sitecore().Field("Headline")</h2></div> 
            @Html.Sitecore().DynamicPlaceholder("relatedresourceitem1") 
            <div class="col-12 text-center"> 
                <button type="button" class="btn-primary btn-icon show-related-content collapsed" datatoggle="collapse" data-target="#@@collapseId" aria-expanded="false" aria-controls="collapseExOne"> 
                    <span class="round hollow"><i class="icon icon-paragraph-left"></i></span><span class="label-show">VIEW MORE RESOURCES</span><span class="label-hide">HIDE RESOURCES</span> 
                </button> 
            </div> 
            <div class="@cssClass" id="@@collapseId"> 
                <div class="row"> 
                    @Html.Sitecore().DynamicPlaceholder("relatedresourceitem2") 
                </div> 
            </div> 
        </div> 
    </div> 
</section>